@charset "UTF-8";
.text-center {
  text-align: center;
}

.cf {
  *zoom: 1;
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

body {
  font-family: "Roboto", sans-serif;
  color: #121212;
}
body .wrapper {
  max-width: 450px;
  margin: 0 auto;
}
body .wrapper h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 1.5em;
}
body .wrapper .speechbubble {
  background-color: #202020;
  color: #9fa2a7;
  font-size: 0.8em;
  line-height: 1.75;
  padding: 15px 25px;
  margin-bottom: 45px;
  cursor: default;
}
body .wrapper .speechbubble:nth-child(2n) {
  border-left: 5px solid;
}
body .wrapper .speechbubble:nth-child(2n):after {
  content: "";
  margin-top: -30px;
  padding-top: 0px;
  position: relative;
  bottom: -45px;
  left: 20px;
  border-width: 30px 0 0 30px;
  border-style: solid;
  border-color: #313131 transparent;
  display: block;
  width: 0;
}
body .wrapper .speechbubble:nth-child(2n+1) {
  border-right: 5px solid;
}
body .wrapper .speechbubble:nth-child(4n+1) {
  border-color: #56b273;
}
body .wrapper .speechbubble:nth-child(4n+2) {
  border-color: #01AD9B;
}
body .wrapper .speechbubble:nth-child(4n+3) {
  border-color: #b388dd;
}
body .wrapper .speechbubble:nth-child(4n+4) {
  border-color: #ff8750;
}
body .wrapper .speechbubble p:before {
  content: "“";
  font-family: Georgia;
  font-size: 40px;
  line-height: 0;
  display: inline-block;
  display: -webkit-inline-box;
}


@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.container__content {
  width: 60%;
}
.textbox {
  color: #9fa2a7;
  width: 100%;
  resize: none;
  background: linear-gradient(145deg, #202020, #181818 );
  box-shadow: inset 8px 8px 15px #000000;
  border-radius: 12px;
  border: none;
  overflow: auto;
  padding: 20px;
  outline: none;
  margin: 50px 0;
}


#ui {
  background-color: #0;
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  justify-content: space-evenly;
}
#client {
  width: 200px;
  height: 200px;
  background-color: #181818;
}
#item {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  gap: 10px;
  background-color: #181818;
}
